@model WarehouseManager.BackendServer.Data.Entities.Function
@{
    Layout = null;
}
<form action="Function/AddOrEdit" method="post" onsubmit="return SubmitForm(this)">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label class="control-label">Tên Chức năng</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label class="control-label">Đường dẫn URL</label>
        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label class="control-label">Chức năng cha</label>
        @Html.DropDownListFor(model => model.ParentId, new SelectList(ViewBag.ParentList, "Id", "Name"), "--Chọn Chức năng--", new { @class = "form-control" } )
    </div>
    <div class="form-group">
        <label class="control-label">Thứ tự hiển thị</label>
        @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
    </div>
    <div class="form-group">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
</form>
